<section class="collection">
  <header class="collection__header page-header">
    <div class="flex">
      <span class="label">Episode Named:</span>
    </div>
    <h1 class="page-header__title text-outline--white font--windsor b-bottom-dotted">
      {{ title }}
      {{ user:can permission="cp:access" }}
        <a class="edit-link" href="{{ edit_url }}">Edit</a>
      {{ /user:can }}
    </h1>
  </header>

  <div class="collection__content">
    <span class="label">Listening Device:</span>
    {{ partial:player class="m-bottom-vmin" }}

    <span class="label">Minutes:</span>

    <ol class="tracklist table text--sm" data-player="tracklist">
      <li class="table__row">
        <span class="table__cell table__cell--header align--center">#</span>
        <span class="table__cell table__cell--header label">Descriptor</span>
        <span class="table__cell table__cell--header label">Time</span>
      </li>

      <li class="tracklist__item table__row" data-track="{{ audio_file }}" data-state="init">
        <span class="tracklist__count table__cell">
          0
          <button class="tracklist__button tracklist__button--play button-reset" data-track-button="play">
            {{ site:sprite id="play" width="32" height="24" }}
          </button>
          <button class="tracklist__button tracklist__button--pause button-reset" data-track-button="pause">
            {{ site:sprite id="pause" width="32" height="24" }}
          </button>
        </span>
        <span class="tracklist__title table__cell" data-track-title>{{ title }}</span>
        <span class="text--xs table__cell table__cell--shaded table__cell--collapse">&mdash;</span>
      </li>

      {{ tracklist scope="track" }}
        <li class="tracklist__item table__row" {{ if track:audio_file }}data-track="{{ track:audio_file }}" data-state="init"{{ /if }}>
          <span class="tracklist__count table__cell">
            {{ index }}
            {{ if track:audio_file }}
              <button class="tracklist__button tracklist__button--play button-reset" data-track-button="play">
                {{ site:sprite id="play" width="32" height="24" }}
              </button>
              <button class="tracklist__button tracklist__button--pause button-reset" data-track-button="pause">
                {{ site:sprite id="pause" width="32" height="24" }}
              </button>
            {{ /if }}
          </span>
          <span class="tracklist__title table__cell">
            {{ if track:song }}
              {{ relate:track:song scope="song" }}
                <a class="tracklist__title" href="{{ song:url }}" data-track-title>♫ {{ song:title }}</a>
              {{ /relate:track:song }}
            {{ else }}
              {{ track:segment | wikilinks }}
            {{ /if }}
          </span>
          <span class="text--xs table__cell table__cell--shaded table__cell--collapse">&mdash;</span>
        </li>
      {{ /tracklist }}
    </ol>
  </div>

  <figure class="collection__cover-art">
    <span class="label">Visual:</span>
    <img class="cover-art" src="{{ cover_art }}" />
  </figure>

  <div class="collection__meta text--sm">
    <div class="m-top-vmin-sm">
      <div class="label">Date of Publishment:</div>
      <div class="b-bottom-dotted"><time datetime="{{ release_date format='r' }}">{{ release_date format="r" }}</time></div>
    </div>
    {{ if album }}
      <div class="m-top-vmin-sm">
        <div class="label">Companion Album</div>
        {{ relate:album }}
        <a class="collection__cover-art--sm cover-art cover-art--photocopy" href="{{ url }}">
          <img src="{{ cover_art }}" />
        </a>
        {{ /relate:album }}
      </div>
    {{ /if }}
    <div class="m-top-vmin-sm">
      <div class="label">External SRC:</div>
      <a href="{{ audio_file }}" target="_blank">↓ Download</a>
    </div>
  </div>
</section>
