Episode

<h1>{{ title }}</h1>
<time>{{ date }}</time>
<a href="{{ soundcloud_url }}">{{ soundcloud_url }}</a>

<h2>Cover Art</h2>
<img src="{{ cover_art }}" style="max-width: 12rem;" />

<h2> Description</h2>
<div>
  {{ description | markdown }}
</div>

<h2>Music from this Episode</h2>
<ul>
  {{ tracklist }}
    {{ relate:song }}
      <li><a href="{{ url }}">{{ title }}</a></li>
    {{ /relate:song }}
  {{ /tracklist }}
</ul>
<h3>Album</h3>
{{ relate:album }}
  <a href="{{ url }}">{{ title }}</a>
{{ /relate:album }}

<h2>In this Episode</h2>
<ul>
  {{ relate:wikis }}
    <li><a href="{{ url }}">{{ title }}</a></li>
  {{ /relate:wikis }}
</ul>
