{{ section:header }}
<header class="page-header">
  <h1 class="page-header__title text-outline--daphne font--windsor tracking--loose case--upper">Episodes</h1>
</header>
{{ /section:header }}

<section class="grid album-grid">
{{ collection:episodes }}
  <a class="album-grid__item" href="{{ url }}">
    {{ if cover_art }}
      <img class="cover-art" src="{{ glide:cover_art width='300' height='300' }}" alt="{{ title }}" />
    {{ else }}
      <div class="cover-art cover-art--empty"></div>
    {{ /if }}
    {{ title }}
  </a>
{{ /collection:episodes }}
</section>
