// ============================================================================
// Components
// ============================================================================

// Borders
// ----------------------------------------------------------------------------

$border-width-sm:       1px;
$border-width-base:     2px;
$border-width-lg:       4px;
$border-width-xl:       8px;

$border-base:           solid $border-width-sm $color-primary;

// Radius
$border-radius-sm:      2px;
$border-radius-base:    4px;
$border-radius-lg:      8px;

// Component Sizes
// ----------------------------------------------------------------------------

$component-size-xs:   $unit * 3;  // 24
$component-size-sm:   $unit * 4;  // 32
$component-size-base: $unit * 5;  // 40
$component-size-lg:   $unit * 6;  // 48
$component-size-xl:   $unit * 7;  // 56

$component-xs: (
  border-radius: $border-radius-base,
  height: $component-size-xs,
  font-size: $font-size-xs
);

$component-sm: (
  border-radius: $border-radius-base,
  height: $component-size-sm,
  font-size: $font-size-sm
);

$component-base: (
  border-radius: $border-radius-base,
  height: $component-size-base,
  font-size: $font-size-base
);

$component-lg: (
  border-radius: $border-radius-base,
  height: $component-size-lg,
  font-size: $font-size-lg
);

$component-xl: (
  border-radius: $border-radius-base,
  height: $component-size-xl,
  font-size: $font-size-xl
);

$component-sizes: (
  xs:   $component-xs,
  sm:   $component-sm,
  base: $component-base,
  lg:   $component-lg,
  xl:   $component-xl
);

// Links & Text
// ----------------------------------------------------------------------------

$link-color:                $color-primary;
$link-hover-color:          darken($color-primary, 15%);

$text-color-dark:           $color-primary;
$text-color-base:           $color-primary;
$text-color-light:          $color-primary;

// Misc
// ----------------------------------------------------------------------------

$sides: (
  top,
  right,
  bottom,
  left
);
