// ============================================================================
// Base Styles
// ============================================================================

body {
  background-color: $paper;
  color: $ink;
  font-family: $font-family-base;
}
