// ============================================================================
// Base Styles
// ============================================================================

body {
  background-color: $paper;
  color: $ink;
  font-family: $font-base;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid $ink;
  padding: 6vmin;
}

img { filter: grayscale(1) contrast(.75) brightness(1.25); }

