// ============================================================================
// Base Styles
// ============================================================================

html {
  font-size: $font-size-root;
}

body {
  @include font-smoothing();
  background-color: $paper;
  color: $text-color-base;
  font-family: $font-base;
  font-size: $font-size-base;
  height: 100%;
  line-height: $line-height-base;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;

  &:after,
  &:before {
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  &:after {
    background: url("../images/backgrounds/asfalt-light.png") repeat;
    opacity: 0.85;
  }

  &:before {
    background: url("../images/backgrounds/natural-paper.png") repeat;
    mix-blend-mode: multiply;
    opacity: 0.5;
  }
}

.hide {
  display: none;
}
