// ============================================================================
// Flex
// ============================================================================

// Container
// ----------------------------------------------------------------------------

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}


// Children
// ----------------------------------------------------------------------------

.flex__1 {
  flex: 1;
}
