// ============================================================================
// Text
// ============================================================================

// Sizes
// ----------------------------------------------------------------------------

.text--xxs  { font-size: $font-size-xxs; }
.text--xs   { font-size: $font-size-xs; }
.text--sm   { font-size: $font-size-sm; }
.text--base { font-size: $font-size-base; }
.text--lg   { font-size: $font-size-lg; }
.text--xl   { font-size: $font-size-xl; }
.text--xxl  { font-size: $font-size-xxl; }

.text--vmin-xs  { font-size: $vmin-xs; }
.text--vmin-sm  { font-size: $vmin-sm; }
.text--vmin     { font-size: $vmin; }
.text--vmin-lg  { font-size: $vmin-lg; }
.text--vmin-xl  { font-size: $vmin-xl; }

// Weights
// ----------------------------------------------------------------------------

.weight--normal { font-weight: normal; }
.weight--bold   { font-weight: bold; }

// Cases
// ----------------------------------------------------------------------------

.case--normal { text-transform: none; }
.case--upper  { text-transform: uppercase; }

// Outlines
// ----------------------------------------------------------------------------

@mixin text-outline($fill, $width: 2px, $outline: $ink) {
  -webkit-text-fill-color: $fill;
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $outline;
}

@each $name, $color in $pastel-colors {
  .text-outline--#{$name} { @include text-outline($color); }
}

// Tracking
// ----------------------------------------------------------------------------

.tracking--normal   { letter-spacing: 0; }
.tracking--loose    { letter-spacing: 0.05em; }
.tracking--looser   { letter-spacing: 0.1em; }
.tracking--loosest  { letter-spacing: 0.2em; }

// Fonts
// ----------------------------------------------------------------------------

.font--base                { font-family: $font-base; }
.font--duospace            { font-family: $font-duospace; }
.font--eurostile           { font-family: $font-eurostile; }
.font--futura              { font-family: $font-futura; }
.font--hypermarket         { font-family: $font-hypermarket; }
.font--hypermarket-exp     { font-family: $font-hypermarket-exp; }
.font--futura              { font-family: $font-futura; }
.font--klang               { font-family: $font-klang; }
.font--marche              { font-family: $font-marche; }
.font--merchant-copy       { font-family: $font-merchant-copy; }
.font--quattro             { font-family: $font-quattro; }
.font--styrene             { font-family: $font-styrene; }
.font--syne                { font-family: $font-syne; }
.font--system              { font-family: $font-system; }
.font--terminal-grotesque  { font-family: $font-terminal-grotesque; }
.font--triplicate          { font-family: $font-triplicate; }
.font--windsor             { font-family: $font-windsor; }


// Colors
// ----------------------------------------------------------------------------

@each $name, $color in $dark-colors   { .color--#{$name} { color: $color; } }
@each $name, $color in $bright-colors { .color--#{$name} { color: $color; } }
@each $name, $color in $pastel-colors { .color--#{$name} { color: $color; } }
