// ============================================================================
// Base Styles
// ============================================================================

// Headings
// ----------------------------------------------------------------------------

h1 { font-size: $font-size-xxl; }
h2 { font-size: $font-size-xl; }
h3 { font-size: $font-size-lg; }
h4 { font-size: $font-size-base; }

// Links
// ----------------------------------------------------------------------------

a {
  color: currentColor;
}

// Misc
// ----------------------------------------------------------------------------

blockquote {
  font-size: $font-size-lg;
  font-style: italic;
}

code {
  font-family: monospace;
}

// Reset Button
// ----------------------------------------------------------------------------

.button-reset {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;

  &:focus {
    outline: none;
  }
}
