// ============================================================================
// Wiki
// ============================================================================

// Base
// ----------------------------------------------------------------------------

.body--wiki-entry .main__content {
  padding: $vmin;
}

// People
// ----------------------------------------------------------------------------

.body--wiki-people {
  .wiki-entry__featured-image {
    margin: 0 auto $vmin;
  }
}

// Directory
// ----------------------------------------------------------------------------

.church-directory {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.church-directory__item {
  display: flex;
}

.church-directory__link {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacer;

  &:hover {
    box-shadow: inset 0 0 0 $border-width-base $ink;
  }
}

.church-directory__image {
  filter: grayscale(1);
  max-height: 120px;
  max-width: 100px;
}

.church-directory__title {
  display: block;
  font-size: $font-size-xs;
  margin-top: $spacer-sm;
  text-align: center;
}
