// ============================================================================
// Backgrounds
// ============================================================================

// Colors
// ----------------------------------------------------------------------------

.bg--alabaster  { background-color: $alabaster; }
.bg--beige      { background-color: $beige; }
.bg--daphne     { background-color: $daphne; }
.bg--mint       { background-color: $mint; }
.bg--paper      { background-color: $paper; }
.bg--seashell   { background-color: $seashell; }
.bg--sky        { background-color: $sky; }
.bg--white      { background-color: $white; }
.bg--slate      { background-color: $slate; }

// Textures
// ----------------------------------------------------------------------------

.bg--notebook {
  background-image: url("../images/backgrounds/notebook-dark.png");
  background-repeat: repeat;
}
