// ============================================================================
// Flex
// ============================================================================

// Container
// ----------------------------------------------------------------------------

.flex {
  display: flex;
}

.flex--align-center   { align-items: center; }
.flex--align-baseline { align-items: baseline; }


// Children
// ----------------------------------------------------------------------------

.flex__1 {
  flex: 1;
}

.flex--wrap {
  flex-wrap: wrap;
}
