// ============================================================================
// Margins
// ============================================================================

// Fixed Margins
// ----------------------------------------------------------------------------

@each $name, $value in $spacing-sizes {
  @each $side in $sides {
    .m-#{$side}-#{$name} {
      margin-#{$side}: $value;
    }
  }

  .m-x-#{$name} {
    margin-left: $value;
    margin-right: $value;
  }

  .m-y-#{$name} {
    margin-bottom: $value;
    margin-top: $value;
  }
}

// Variable Margins
// ----------------------------------------------------------------------------

@each $name, $value in $vmin-sizes {
  @each $side in $sides {
    .m-#{$side}-#{$name} {
      margin-#{$side}: $value;
    }
  }

  .m-x-#{$name} {
    margin-left: $value;
    margin-right: $value;
  }

  .m-y-#{$name} {
    margin-bottom: $value;
    margin-top: $value;
  }
}

// Zero and Auto
// ----------------------------------------------------------------------------

@each $side in $sides {
  .m-#{$side}-0 { margin-#{$side}: 0; }
  .m-#{$side}-auto { margin-#{$side}: auto; }
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}
