// ============================================================================
// Opacity
// ============================================================================

.o-75 { opacity: 0.75; }
.o-66 { opacity: 0.66; }
.o-50 { opacity: 0.50; }
.o-33 { opacity: 0.33; }
.o-25 { opacity: 0.25; }
