// ============================================================================
// Sizes
// ============================================================================

@each $name, $size in $component-sizes {
  .size--#{$name} {
    height: $size;
    width: $size;
  }

  .h--#{$name} { height: $size; }
  .w--#{$name} { width: $size; }
}
