// ============================================================================
// Forms
// ============================================================================

$input-border: inset 0 0 0 $border-width-sm $color-primary;

// Base
// ----------------------------------------------------------------------------

.input {
  @include font-smoothing();
  background-color: $white;
  background-image: none; // https://github.com/necolas/normalize.css/issues/214.
  border-radius: $border-radius-base;
  border: none;
  box-shadow: $input-border;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: $font-size-base;
  margin: 0;
  padding: component-size($component-base, $borders: 2) 0.5em;
  width: 100%;

  // Placeholders
  &::placeholder {
    color: rgba($text-color-base, 0.45);
    opacity: 1;
  }

  &:focus {
    box-shadow: 0 0 0 $border-width-lg rgba($yellow, 1), $input-border;
    outline: none;
  }
}

// Forms
// ----------------------------------------------------------------------------

.form--search {
  display: flex;

  .input {
    @include round-corners(right, 0, false);
    flex: 1
  }
}
