// ============================================================================
// Grid
// ============================================================================

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  list-style: none;
}

.grid--gap {
  grid-gap: $spacer;
}
