// ============================================================================
// Invoice
// ============================================================================

// Settings
// ----------------------------------------------------------------------------

$invoice-border:            solid $border-width-base $ink;
$invoice-border-secondary:  dotted $border-width-sm $ink;
$invoice-cell-padding:      0.5rem;

// Base
// ----------------------------------------------------------------------------

.invoice {
  border: $invoice-border;
  display: table;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.invoice__item {
  display: table-row;
}

.invoice__cell {
  border-top: $invoice-border-secondary;
  display: table-cell;
  height: $component-size-base;
  vertical-align: middle;
  padding: $invoice-cell-padding;

  + .invoice__cell {
    border-left: $invoice-border-secondary;
  }

  .invoice__item:first-child & {
    border-top: none;
  }
}

.invoice__cell--collapse {
  width: 1px;
}

.invoice__cell--shaded {
  background-color: rgba($ink, 0.05);
}

.invoice__link {
  text-decoration: none;

  &:hover {
    background-color: $lemon;
  }
}
