// ============================================================================
// Page Header
// ============================================================================

.page-header {
  margin-bottom: $vmin;
  width: 100%;
}

.page-header__title {
  margin: 0;

  @media #{$screen-xs-up} {
    font-size: 8vmin;
  }
}
