// ============================================================================
// Audio Player
// ============================================================================

// Base
// ----------------------------------------------------------------------------

.player {
  border: 1px solid $ink;
  padding: 1rem;
  position: relative;

  &[data-player-state="disabled"] {
    pointer-events: none;

    .player__title,
    .player__time--total    { opacity: 0; }
    .player__spinner        { opacity: 1; }
    .player__button         { opacity: 0.5; }
    .player__button--pause  { display: none; }
  }

  &[data-player-state="playing"] {
    .player__button--play  { display: none; }
  }

  &[data-player-state="paused"] {
    .player__button--pause { display: none; }
  }
}


// Elements
// ----------------------------------------------------------------------------

.player__spinner,
.player__title,
.player__time--total {
  transition: opacity 150ms ease-out;
}

.player__spinner {
  opacity: 0;
  position: absolute;
}

.player__button {
  align-items: center;
  border-radius: $border-radius-base;
  border: $border-base;
  cursor: pointer;
  display: inline-flex;
  height: $component-size-sm;
  justify-content: center;
  width: $component-size-lg;

  &:hover {
    background-color: rgba($color-primary, 0.15);
  }

  .sprite {
    fill: currentColor;
    height: 0.5rem;
    pointer-events: none;
  }
}

// Progress
// ----------------------------------------------------------------------------

.player__progress {
  border: 1px solid $ink;
  height: 1rem;
  position: relative;
  width: 100%;
}

.player__progress-bar {
  background-color: $ink;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.player__time--total {
  float: right;
}
