// ============================================================================
// Wiki Tags
// ============================================================================

// Base
// ----------------------------------------------------------------------------

.wiki-tags {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.wiki-tags__item {
  background-color: $color-primary;
  color: $gray-light;
  display: block;
  font-family: $font-windsor;
  font-size: $font-size-lg;
  height: 100%;
  padding: $spacer;
  text-decoration: none;

  &:hover {
    color: $gray-darkest;
  }
}

.wiki-tags__item--static:hover {
  color: $paper;
  background-color: $color-primary;
  box-shadow: none;
}

// Colors
// ----------------------------------------------------------------------------

$tag-colors: (
  rgba($red, 0.5),
  $lemon,
  $neon-green,
  rgba($blue, 0.65),
  $beige,
  rgba($green, 0.5),
  $mustard,
  $aqua,
  $slate,
  $neon-cyan
);

$tag-colors-length: length($tag-colors);

.wiki-tags__item {
  @for $i from 1 through $tag-colors-length {
    $color: nth($tag-colors, $i);
    $bg: lighten($color-primary, randomNum(0, 8));
    @if randomNum(0, 3) % 2 == 0 {
      $bg: darken($color-primary, randomNum(0, 8));
    }

    &:nth-child(#{$tag-colors-length}n+#{$i}) {
      background-color: $bg;
      &:hover { background-color: $color; }
    }
  }
}
