// ============================================================================
// Wiki Entry
// ============================================================================

// Base
// ----------------------------------------------------------------------------

.wiki-article {
  border-radius: $vmin;
}

.wiki-article__header {
  border-bottom: dashed 1px $ink;
  padding: $vmin;
}

.wiki-article__title {
  font-family: $font-futura;
  font-size: $font-size-xl;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

.wiki-article__content {
  padding: $vmin;

  h2 {
    font-family: $font-futura;
    font-size: $font-size-base;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: $vmin;
  }

  a {
    @include font-smoothing(false);
    border-bottom: solid $border-width-base rgba($green, 0.25);
    font-family: $font-duospace;
    text-decoration: none;

    &:hover {
      background-color: $seashell;
      border-color: $red;
      color: $red;
    }
  }
}

.wiki-entry__featured-image {
  margin: 0 auto $spacer;
}

.wiki-article__sidebar {
  background-color: rgba($sky, 0.5);
  border-left: dotted $border-width-sm $ink;
  flex-basis: 320px;
  mix-blend-mode: multiply;
  padding: $vmin-sm;
}

// People
// ----------------------------------------------------------------------------

.body--wiki-people {
  .wiki-entry__featured-image {
    mix-blend-mode: multiply;
  }
}
