// ============================================================================
// Shared Wiki Styles
// ============================================================================

// Rando Hover BG Colors
// ----------------------------------------------------------------------------

$rando-colors: (
  rgba($red, 0.5),
  $lemon,
  $green,
  rgba($blue, 0.45),
  $beige,
  rgba($green, 0.5),
  rgba($cyan, 0.1),
  rgba($mustard, 0.65),
  $aqua,
  $slate,
  $cyan,
  rgba($blush, 0.25),
  $yellow,
  rgba(magenta, 0.3),
  rgba($ocean, 0.35)
);

$rando-colors-length: length($rando-colors);

.rando-bg-hover {
  @for $i from 1 through $rando-colors-length {
    $color: nth($rando-colors, $i);
    $bg: lighten($color-primary, randomNum(0, 8));
    @if randomNum(0, 3) % 2 == 0 {
      $bg: darken($color-primary, randomNum(0, 8));
    }

    > *:nth-child(#{$rando-colors-length}n+#{$i}):hover {
      background-color: $color;
    }
  }
}

// Wiki Tags
// ----------------------------------------------------------------------------

.wiki-tags__item {
  background-color: $color-primary;
  color: $gray-light;
  display: block;
  font-family: $font-windsor;
  font-size: $font-size-lg;
  height: 100%;
  padding: $spacer;
  text-decoration: none;

  &:hover {
    color: $gray-darkest;
  }
}

// Articles
// ----------------------------------------------------------------------------

$border: dotted $border-width-sm $gray-darkest;

.wiki-articles__item {
  border: $border;
  color: $gray-darkest;
  font-size: $font-size-sm;
  padding: $spacer;
  text-decoration: none;
}

.wiki-articles__item--empty {
  border-style: dashed;
}

// Directory
// ----------------------------------------------------------------------------

.wiki-people {
  background-color: $paper; // required for mix-blend-mode
}

.wiki-people__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wiki-people__image {
  align-self: center;
  filter: grayscale(1);
  margin-top: $spacer-sm;
  max-height: 120px;
  max-width: 100px;
  mix-blend-mode: multiply;
}

.wiki-people__title {
  font-size: $font-size-xs;
  margin-top: $spacer-sm;
  text-align: center;
}

.wiki-people__empty {
  font-size: 11vmin;
  opacity: 0.15;
  text-align: center;
}
