// ============================================================================
// Breadcrumbs
// ============================================================================

.breadcrumbs {
  display: flex;
  font-size: $font-size-sm;
  list-style: none;
}

.breadcrumbs__item {
  display: flex;

  + .breadcrumbs__item {
    margin-left: 0.25em;

    &:before {
      content: "›";
      opacity: 0.35;
      margin-right: 0.25em;
    }
  }
}

.breadcrumbs__item--current {
  opacity: 0.5;
  pointer-events: none;
}
