// ============================================================================
// Buttons
// ============================================================================

// Mixins
// ----------------------------------------------------------------------------

// Base
// ----------------------------------------------------------------------------

.button {
  align-items: center;
  background-color: $white;
  border: $border-width-lg solid currentColor;
  color: $text-color-base;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: $font-size-base;
  font-weight: bold;
  line-height: $line-height-base;
  padding: component-size($component-base, $font-size: $font-size-base) 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: rgba($ink, 0.1);
  }
}
