// ============================================================================
// Buttons
// ============================================================================

// Mixins
// ----------------------------------------------------------------------------

@mixin button-size($component-size) {
  font-size: map-get($component-size, font-size);
  height: map-get($component-size, height);
  padding: 0 0.75em;
}

// Base
// ----------------------------------------------------------------------------

.button {
  @include button-size($component-base);
  align-items: center;
  background-color: $white;
  border: $border-width-lg solid currentColor;
  color: $text-color-base;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-weight: bold;
  line-height: $line-height-base;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: rgba($ink, 0.1);
  }
}
