// ============================================================================
// Page Header
// ============================================================================

.page-header {
  margin-bottom: $vmin;
  position: relative;
  width: 100%;
}

.page-header__title {
  line-height: $line-height-sm;
  margin: 0;

  @media #{$screen-xs-up} {
    font-size: 5vmin;
  }

  @media #{$screen-xs-down} {
    font-size: $font-size-lg;
  }
}
