// ============================================================================
// Audio Player
// ============================================================================

$player-height: $spacer * 5;
$transition: opacity 250ms ease-out;

// Base
// ----------------------------------------------------------------------------

.player {
  align-items: stretch;
  background-color: $white;
  border: solid $border-width-sm $ink;
  border-radius: $border-radius-base;
  display: flex;
  margin-bottom: $spacer;
  min-height: $player-height;
  position: relative;
  width: 100%;
}

.player--loading {
  .player__title  { opacity: 0; }
  .player__play   { opacity: 0; }
  .player__loader { display: block; }
}

.player--disabled {
  .player__slow {
    opacity: 0.5;
    pointer-events: none;
  }

  .player__time {
    opacity: 0;
  }
}

// Button Base
// ----------------------------------------------------------------------------

.player__button {
  align-items: center;
  border-radius: $border-radius-base;
  display: flex;
  justify-content: center;
  min-height: $component-size-base;
  min-width: $component-size-lg;

  &:hover {
    // background-color: rgba($color-primary, 0.15);
    color: $red;
  }

  .sprite {
    fill: currentColor;
    pointer-events: none;
  }
}

// Control
// ----------------------------------------------------------------------------

.player__control {
  border-right: $border-dotted;
  flex: 0 0 auto;
  position: relative;
  width: $player-height;

  .loader,
  .sprite {
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.player__play,
.player__pause {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 100%;
  width: 100%;
  transition: $transition;

  &:hover {
    background-color: rgba($color-primary, 0.15);
    color: currentColor;
  }

  .sprite {
    width: $component-size-sm;
  }
}

.player__pause,
.player__loader {
  display: none; // hide by default
}

// Content
// ----------------------------------------------------------------------------

.player__content {
  flex: 1;
  padding: $spacer-sm $spacer;
}

.player__row {
  align-items: center;
  display: flex;
}

.player__title {
  font-size: $font-size-sm;
  font-family: $font-operator-mono;
  flex: 1;
  padding-right: $spacer;
  transition: $transition;
}

.player__time {
  font-size: $font-size-xs;
}

.player__timer {
  margin-left: auto;
  position: relative;

  &:after {
    content: "/";
  }
}

// Progress
// ----------------------------------------------------------------------------

.player__progress {
  border: solid $border-width-sm $ink;
  border-radius: $border-radius-base;
  height: $spacer;
  flex: 1;
  overflow: hidden;
  position: relative;
  width: 100%;

  .player:not(.player--disabled) & {
    cursor: pointer;
  }
}

.player__progress-bar {
  background-color: $ink;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 0;
}

.player__skip .sprite {
  width: $component-size-sm;
}

.player__slow {
  margin-right: -$unit;
}

.player__slow-switch {
  @include size($component-size-sm, $unit * 1.5);
  box-shadow: inset 0 0 0 2px currentColor;
  border-radius: 2px;
  overflow: hidden;
  position: relative;

  &:before {
    background-color: currentColor;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    transition: left 100ms ease-out;
    width: 50%;
  }
}

.player__slow--active {
  .player__slow-switch:before {
    left: 50%;
  }
}

// Theme
// ----------------------------------------------------------------------------

.player--dark {
  background-color: $ink;
  color: $paper;

  .player__control {
    border-right-color: $paper;
  }

  .player__play,
  .player__pause {
    &:hover {
      background-color: $paper;
      color: $ink;
    }
  }

  .player__progress {
    border-color: $paper;
  }

  .player__progress-bar {
    background-color: $paper;
  }
}

// Responsive
// ----------------------------------------------------------------------------

@media (max-width: 400px) {
  .player__row { flex-wrap: wrap; }
  .player__progress { flex-basis: 100%; }
  .player__button { margin: 0 auto; }
}
