// ============================================================================
// Tags
// ============================================================================

.tag {
  font-size: $font-size-xs;
  text-decoration: none;
  border: dashed $border-width-sm currentColor;
}
