// ============================================================================
// Tracklist
// ============================================================================

$button-width:  $component-size-lg;
$button-height: $component-size-base;

.tracklist__item {
  &[data-track-state="init"] {
    .tracklist__button--play  { opacity: 0; }
    .tracklist__button--pause { display: none; }

    &:hover {
      background-color: $mint;
      // .tracklist__title { text-decoration: underline; }
      .tracklist__button--play { opacity: 1; }
    }
  }

  &[data-track-state="playing"] {
    .tracklist__button--play { display: none; }
  }

  &[data-track-state="paused"] {
    .tracklist__button--pause { display: none; }
  }
}

.tracklist__count {
  position: relative;
  text-align: center;
  width: $button-width + $spacer;
}

.tracklist__button {
  background-color: $mint;
  border-radius: 0;
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:hover {
    background-color: $mint;
    color: $red;
  }
}

.tracklist__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
