// ============================================================================
// Tracklist
// ============================================================================

.tracklist {
  padding-left: 0;
}

.tracklist__count {
  position: relative;
  text-align: center;
  width: $component-size-lg;
}

.tracklist__title a,
a.tracklist__title {
  border-bottom: solid $border-width-sm rgba($aqua, 0.5);
  font-family: $font-duospace;
  text-decoration: none;

  &:hover {
    border-color: $mustard;
    color: $mustard;
  }

  &.tracklist__title--album-link {
    border-bottom: none;

    span {
      border-bottom: solid $border-width-sm rgba($aqua, 0.5);
    }
  }
}


// Decorative left border
.tracklist .table__cell:nth-child(2) {
  position: relative;

  &:before {
    background-color: rgba($ink, 0.15);
    content: "";
    height: 100%;
    left: 2px;
    position: absolute;
    top: 0;
    width: 2px;
  }
}

.tracklist__button {
  background-color: $mint;
  border-radius: 0;
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:hover {
    background-color: $mint;
    background-color: darken($mint, 5%);
  }

  .sprite {
    fill: currentColor;
    height: 0.5rem;
    pointer-events: none;
  }

  .tracklist__item:hover & {
    display: block;
  }
}

// States
// ----------------------------------------------------------------------------

.tracklist__item[data-state="init"] {
  &:hover .tracklist__button--play {
    display: block;
  }

  .tracklist__button {
    display: none;
  }
}

.tracklist__item[data-state="playing"] {
  .tracklist__button--play { display: none; }
}

.tracklist__item[data-state="paused"] {
  .tracklist__button--pause { display: none; }
}

// Smaller Screens
// ----------------------------------------------------------------------------

@media #{$screen-sm-down} {
  .tracklist__count {
    width: 1px;
  }
}
