// ============================================================================
// Tracklist
// ============================================================================

.tracklist__item {
  &[data-track-state="init"] {
    .tracklist__button--play  { opacity: 0; }
    .tracklist__button--pause { display: none; }

    &:hover {
      .tracklist__button--play { opacity: 1; }
    }
  }

  &[data-track-state="playing"] {
    .tracklist__button--play { display: none; }
  }

  &[data-track-state="paused"] {
    .tracklist__button--pause { display: none; }
  }
}

.tracklist__count {
  position: relative;
  text-align: center;
  width: $component-size-lg;
}

// Wikilinks
.tracklist__title a {
  border-bottom: solid $border-width-sm rgba($aqua, 0.5);
  font-family: $font-duospace;
  text-decoration: none;

  &:hover {
    border-color: $mustard;
    color: $mustard;
  }
}
.tracklist .table__cell:nth-child(2) {
  position: relative;

  &:before {
    background-color: rgba($ink, 0.15);
    content: "";
    height: 100%;
    left: 2px;
    position: absolute;
    top: 0;
    width: 2px;
  }
}

.tracklist__button {
  background-color: $mint;
  border-radius: 0;
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:hover {
    background-color: $mint;
    background-color: darken($mint, 5%);
    // color: $red;
  }

  .sprite {
    fill: currentColor;
    height: 0.5rem;
  }
}

.tracklist__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Smaller Screens
// ----------------------------------------------------------------------------

@media #{$screen-sm-down} {
  .tracklist__count {
    width: 1px;
  }
}
