// ============================================================================
// Songs • Index
// ============================================================================

.song-index {
  counter-reset: i;
  display: grid;
  grid-column-gap: $spacer;
  grid-template-columns: repeat(auto-fill, minmax(240px, 2fr));
  list-style: none;
  padding-left: 0;
}

.song-index__item {
  counter-increment: i;
}

.song-index__link {
  align-items: baseline;
  border-bottom: $border-dotted;
  display: flex;
  height: 100%;
  padding: component-size($component-sm) 0;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: $brown;

    &:before {
      color: $ink;
    }
  }

  &:before {
    font-family: $font-operator-mono;
    content: counter(i)". ";
    font-size: $font-size-xs;
    margin-right: $spacer-sm;
  }
}
