{{ section:container_class }}container--full{{ /section:container_class }}

<section class="home__mastheads">
  This Evening's Show
</section>

<section class="home__intro container container--base">
  {{ partial:player }}
  <p>This Evening’s Show is a radio broadcast transmitting from an abandoned monorail station outside Adobe Skyscraper. Tune in as your hosts guide you through a cavalcade of bizarre characters, historic factoids, surreal comedy, news stories, interviews, and original music by the Wonderful Land Wonderful Band.</p>
</section>

<button id="rando-track">Get Random Track</button>
