{{ section:container_class }}container--full{{ /section:container_class }}

<section class="home__masthead">
  This Evening's Show
</section>

<section class="home__intro container container--base">
  {{ partial:stereo }}

  <!-- Playlist should be removed in the end -->
  <div id="playlist">
    <div id="list"></div>
  </div>

  <hr>

  <ol id="tracks">
    <li data-track="https://thiseveningsshow.s3.amazonaws.com/test/08%20One%20Last%20_Whoo-hoo%21_%20for%20the%20Pullman.mp3">
      <button data-track-button="play">Play</button>
      <button data-track-button="pause">Pause</button>
      <span data-track-title>Woo-Hoo</span>
    </li>
    <li data-track="https://thiseveningsshow.s3.amazonaws.com/test/01%20The%20Mariner.mp3">
      <button data-track-button="play">Play</button>
      <button data-track-button="pause">pause</button>
      <span data-track-title>Mariner</span>
    </li>
  </ol>

  <p>This Evening’s Show is a radio broadcast transmitting from an abandoned monorail station outside Adobe Skyscraper. Tune in as your hosts guide you through a cavalcade of bizarre characters, historic factoids, surreal comedy, news stories, interviews, and original music by the Wonderful Land Wonderful Band.</p>
</section>
