// ============================================================================
// Collection
// For albums and episodes
// ============================================================================

@media #{$screen-xs-up} {
  .collection {
    overflow: hidden;
  }

  .collection__content {
    float: left;
    min-height: 16rem; // force meta to float right
    padding-right: $vmin-sm;
    width: calc(100% / 3 * 2);
  }

  .collection__cover-art,
  .collection__meta {
    float: right;
    padding-left: $vmin-sm;
    width: calc(100% / 3);
  }

  .collection__cover-art--sm {
    max-width: $component-size-xl * 2;
  }
}

@media #{$screen-xs-down} {
  .collection {
    display: flex;
    flex-direction: column;
  }

  .collection__header,
  .collection__cover-art,
  .collection__content {
    > .label { display: none; }
  }

  .collection__header    { order: 0; }
  .collection__cover-art { order: 1; }
  .collection__content   { order: 2; }
  .collection__meta      { order: 3; }

  .collection .cover-art {
    width: 100%;
  }
}
