// ============================================================================
// Default Layout
// ============================================================================

// Global Nav
// ----------------------------------------------------------------------------

.global-nav {
  align-items: stretch;
  background-color: $paper;
  border-bottom: solid $border-width-base $ink;
  display: flex;
  position: sticky;
  top: 0;
  z-index: $z-global-nav;
}

.global-nav__item {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: component-size($component-lg) 0.5em;
  text-decoration: none;

  &:hover {
    background-color: $cyan;
    color: $gray;
    text-decoration: none;
  }

  &.active {
    background-color: $ink;
    color: $white;
  }
}

// Content
// ----------------------------------------------------------------------------

.main {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  padding-bottom: $vmin;
  padding-top: $vmin;
}

.main__content {
  flex: 1;
}

// Sidebar
// ----------------------------------------------------------------------------

.main__sidebar {
  flex-basis: 25%;
  margin-left: $vmin;
}

// Smaller Screens
// ----------------------------------------------------------------------------

@media #{$screen-sm-down} {
  .main__sidebar {
    flex-basis: 100%;
    margin: $vmin 0 0 0;
  }
}
