// ============================================================================
// Music Nav
// ============================================================================

.music-nav {
  display: flex;
}

.music-nav__item {
  align-items: center;
  border-bottom: solid $border-width-lg rgba($ink, 0.25);
  display: flex;
  flex: 1;
  font-family: $font-titling-gothic;
  justify-content: center;
  letter-spacing: 0.1em;
  padding: $spacer-sm 0;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-color: adjust-hue($red, -15deg);
    color: $red;
  }

  +.music-nav__item {
    // margin-left: 1rem;
  }

  &.active {
    border-color: $ink;
    cursor: default;
    line-height: 1;
    pointer-events: none;
  }
}

.music-nav__item--albums.active { @extend .text-outline--seashell; }
.music-nav__item--songs.active  { @extend .text-outline--mint; }
.music-nav__item--videos.active { @extend .text-outline--daphne; }

@media #{$screen-sm-up} {
  .music-nav__item.active {
    font-size: 6vmin;
  }
}

@media #{$screen-sm-down} {
  .music-nav__item.active {
    font-size: 4vmin;
  }
}

@media #{$screen-xs-down} {
  .music-nav__item,
  .music-nav__item.active {
    font-family: $font-base;
    font-size: $font-size-base;
    flex: 1;
  }

  .music-nav__item.active {
    color: $red;
  }
}
