// ============================================================================
// Navigation
// ============================================================================

// Primary
// ----------------------------------------------------------------------------

.global-nav {
  align-items: stretch;
  background-color: $paper;
  border-bottom: solid $border-width-base $ink;
  display: flex;
  height: $global-nav-height;
  position: sticky;
  top: 0;
  z-index: $z-global-nav;
}

.global-nav__item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 $spacer-sm;
  text-decoration: none;

  &:hover {
    background-color: $lemon;
    color: $mustard;
    text-decoration: none;
  }

  .sprite {
    @include size(1rem);
    fill: currentColor;
    pointer-events: none;
  }
}

@mixin nav-style($color, $pos) {
  &.active {
    background: $color url("../images/nav.jpg") 0 $pos repeat-x;
    color: $white;
  }
}

.global-nav__item--episodes { @include nav-style(#AB6F41, 0); }
.global-nav__item--albums   { @include nav-style(#547971, -96px); }
.global-nav__item--wiki     { @include nav-style(#77949A, -144px); }
.global-nav__item--contact  { @include nav-style(#9C6C84, -48px); }

.global-nav__section {
  display: flex;
}

.global-nav__section--desktop {
  display: flex;

  &,
  .global-nav__item {
    flex: 1;
  }
}

.global-nav__item--extra,
.global-nav__item--search {
  width: $spacer * 3;
}

.global-nav__mobile-toggle {
  align-self: center;
  border-radius: $border-radius-base;
  display: none;
  font-size: $font-size-sm;
  border-width: 1px;
  font-weight: normal;
}

// Subnav
// ----------------------------------------------------------------------------

.subnav {
  background-color: $paper;
  border: 2px solid $ink;
  box-shadow: 0 4px 16px rgba($ink, 0.5);
  display: none; // hide by default
  min-width: 12rem;
  position: absolute;
  right: 0;
  top: $global-nav-height;
}

.subnav--hide {
  display: none;
}

.subnav__item {
  align-items: center;
  color: $ink;
  display: block;
  display: flex;
  min-height: $global-nav-height;
  padding: 0 $spacer;
  text-decoration: none;

  &:hover {
    background-color: $lemon;
    color: $mustard;
  }

  &.active {
    background: $ink url("../images/backgrounds/terrazzo.jpg") 0 -192px repeat-x;
    color: $white;
  }
}

// Responsive
// ----------------------------------------------------------------------------

@media #{$screen-xs-up} {
  .global-nav__section--desktop {
    display: flex !important;
  }
}

@media #{$screen-xs-down} {
  .global-nav__section--desktop,
  .global-nav__item--extra {
    display: none;
  }

  .global-nav__section--desktop {
    background-color: $paper;
    box-shadow: 0 2px 4px rgba($black, 0.25);
    flex-wrap: wrap;
    left: 0;
    position: absolute;
    top: $global-nav-height;
    width: 100%;

    .global-nav__item {
      min-height: $component-size-lg;
      flex-basis: 25%;

      + .global-nav__item {
        border-left: 1px solid $ink
      }
    }
  }

  .global-nav__section--mobile {
    display: flex;
    margin-left: auto;
  }

  .global-nav__mobile-toggle {
    display: block;
  }

  .subnav {
    display: flex !important;
    flex-wrap: wrap;
    position: static;
    box-shadow: none;
    border: none;
    min-width: unset;
    width: 100%;
  }

  .subnav__item {
    border-left: $border-base;
    border-top: $border-base;
    flex: 0 0 25%;
    justify-content: center;
    min-height: $component-size-lg;
  }
}
