// ============================================================================
// Contact
// ============================================================================

.contact-section {
  background: $brown url("../images/wall.jpg");
  color: $white;
}

.contact-section__phone {
  font-size: 8vmin;
}
