// ============================================================================
// Home
// ============================================================================

.body--home .main {
  padding: 0;
}

// Masthead
// ----------------------------------------------------------------------------

$half-height: calc(50vh - #{$global-nav-height / 2});
$circle-size: 115vmax;

@keyframes hypnonis {
  from { transform: rotate(0deg)   translate(-0.5%) rotate(0deg); }
  to   { transform: rotate(360deg) translate(-0.5%) rotate(-360deg); }
}

.masthead {
  overflow: hidden;
  position: relative;
}

.masthead__half {
  align-items: center;
  display: flex;
  padding: $spacer;
  position: relative;
}

.masthead__half--title {
  align-items: center;
  align-self: stretch;
  background: $red;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.masthead__title {
  color: $white;
  font-family: $font-windsor;
  font-size: 11vmin;
  line-height: 1;
  margin: 0;
  position: relative;
  text-shadow: 4px 4px 0 $magenta;
}

.masthead__circles {
  @include size($circle-size);
  left: 50%;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.masthead__circle {
  @include size($circle-size);
  fill: none;
  left: 0;
  position: absolute;
  top: 0;
}

.masthead__circle-a {
  animation: hypnonis 8s infinite linear;
}

.masthead__half--player {
  background: url("../images/wall.jpg") no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;

  .player {
    max-width: $spacer * 32;
  }

  p {
    color: white;
  }

  .subscribe {
    color: $white;
    justify-content: center;
    margin-top: $spacer-lg;
  }
}

// Intro
// ----------------------------------------------------------------------------

.home__intro {
  align-items: center;
  background-color: $seashell;
  display: flex;
}

.what-is {
  display: flex;
}

.what-is__link {
  flex: 0 1 33%;
  text-align: center;
}

.what-is__image {
  margin: 0;
  position: relative;
  text-align: center;
}

.what-is__line {
  @include size(64px, 48px);
  fill: currentColor;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 135%);
}

.what-is__content {
  flex: 1;
  padding-left: $spacer;
}


.recent-grid {
  display: flex;
  justify-content: center;
}

.recent-grid__item {
  flex: 1;
  padding: $spacer-sm;
  text-align: center;

  &:hover .cover-art {
    box-shadow: 0 0 0 8px $green;
  }
}

// Responsive
// ----------------------------------------------------------------------------

@media #{$screen-base-up} {
  .masthead {
    display: flex;
    height: $half-height;
  }

  .masthead__half {
    flex: 0 1 50%;
  }

  .masthead__title {
    display: flex;
    flex-flow: column;
  }

  .home__intro {
    min-height: $half-height;
  }
}

@media #{$screen-base-down} {
  .masthead__half {
    min-height: 50vh;
  }

  .masthead__half--title {
    text-align: center;
  }

  .masthead__title {
    font-size: 7vmax;
  }
}
