{{ section:header }}
<header class="page-header">
  <div class="flex m-bottom-base">
    {{ partial:breadcrumbs include_home="false" }}
  </div>
  <div class="label">Title:</div>
  <h1 class="page-header__title font--eurostile case--upper">
    {{ title }}
    {{ user:can permission="cp:access" }}
      <a class="edit-link" href="{{ edit_url }}">Edit</a>
    {{ /user:can }}
  </h1>
</header>
{{ /section:header }}

<div class="label">Look:</div>
<div class="video-embed">
  <iframe class="video-embed__item" src="{{ vimeo_link:url | video_embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
