<h1>{{ title }}</h1>
<time>{{ date }}</time>

{{ partial:player playlist_url=soundcloud_url }}

<h2>Cover Art</h2>
<img src="{{ glide:cover_art width='300' height='300' }}" alt="{{ title }}" />

<h2>Tracklist</h2>
<ol class="tracklist">
{{ tracklist }}
  <li class="tracklist__item" data-url="{{ soundcloud_url }}" data-track-state="init">
    <button class="player__button tracklist__button tracklist__button--play button-reset" data-tracklist="play">
      {{ site:sprite id="play" width="32" height="24" }}
    </button>
    <button class="player__button tracklist__button tracklist__button--pause button-reset" data-player="pause" aria-title="Pause">
      {{ site:sprite id="pause" width="28" height="24" }}
    </button>
    <div class="tracklist__title">
    {{ relate:song }}
      {{ title }}
    {{ /relate:song }}
    </div>
  </li>
{{ /tracklist }}
</ol>

<hr>

<a href="{{ soundcloud_url }}" target="_blank">View on SoundClown</a>
