<section class="collection">
  <header class="collection__header page-header">
    <div class="flex flex--align--baseline">
      <span class="label">Title:</span>
      {{ user:can permission="cp:access" }}
        <a class="button m-left-auto" href="{{ edit_url }}">Edit</a>
      {{ /user:can }}
    </div>
    <h1 class="page-header__title text-outline--white font--windsor b-bottom-dotted">{{ title }}</h1>
  </header>

  <div class="collection__content">
    <span class="label">Listening Device:</span>
    {{ partial:player playlist_url=soundcloud_url class="player--dark m-bottom-vmin" }}

    <span class="label">Tracklist:</span>
    <div class="tracklist table text--sm">
      <div class="table__row">
        <div class="table__cell table__cell--header align--center">#</div>
        <div class="table__cell table__cell--header label">Descriptor</div>
        <div class="table__cell table__cell--header label">Time</div>
      </div>
    {{ tracklist }}
      <div class="tracklist__item table__row" data-url="{{ soundcloud_url }}" data-track-state="init">
        <div class="tracklist__count table__cell">
          {{ index }}
          <button class="player__button tracklist__button tracklist__button--play button-reset" data-tracklist="play">
            {{ site:sprite id="play" width="32" height="24" }}
          </button>
          <button class="player__button tracklist__button tracklist__button--pause button-reset" data-player="pause" aria-title="Pause">
            {{ site:sprite id="pause" width="28" height="24" }}
          </button>
        </div>
        {{ relate:song scope="song" }}
        <div class="tracklist__title table__cell">
          <a href="{{ song:url }}">{{ song:title }}</a>
        </div>
        <div class="text--xs table__cell table__cell--shaded table__cell--collapse">0:00</div>
        {{ /relate:song }}
      </div>
    {{ /tracklist }}
    </div>
  </div>

  <figure class="collection__cover-art">
    <span class="label">Visual:</span>
    <img class="cover-art" src="{{ glide:cover_art width='300' height='300' }}" alt="{{ title }}" />
  </figure>

  <div class="collection__meta text--sm">
    <div class="m-top-base">
      <div class="label">Date of Publishment:</div>
      <div class="b-bottom-dotted"><time datetime="{{ date }}">{{ date }}</time></div>
    </div>
    <div class="m-top-base">
      <div class="label">External SRC:</div>
      <a href="{{ soundcloud_url }}" target="_blank">→ SoundClown</a>
    </div>
  </div>
</section>
