{{ section:container_class }}container--full{{ /section:container_class }}

{{ section:header }}
<header class="page-header">
  <div class="container--base m-x-auto">
    {{ partial:music-nav }}
  </div>
</header>
{{ /section:header }}

<section class="album-grid rando-bg-hover--pastel">
{{ collection:albums}}
  <a class="album-grid__item" href="{{ url }}">
    <h2 class="album-grid__title">{{ title }}</h2>
    <figure class="album-grid__image">
      <img class="cover-art" src="{{ glide:cover_art width='300' height='300' }}" alt="{{ title }}" />
    </figure>
  </a>
{{ /collection:albums }}
</section>
