// ============================================================================
// Sidebar
// ============================================================================

.sidebar__section {
  + .sidebar__section {
    margin-top: $vmin;
  }
}

.sidebar__heading {
  font-family: $font-hypermarket;
  text-transform: uppercase;
  margin: 0 0 $spacer-sm;
}

.sidebar__subheading {
  margin: 0 0 $spacer-sm;
}

// Grid (albums, episodes)
// ----------------------------------------------------------------------------

.sidebar__grid {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: repeat(auto-fill, minmax(80px, 2fr));
}

// List (Songs, Videos)
// ----------------------------------------------------------------------------

$list-border: dotted $border-width-sm $ink;

.sidebar__list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    border-top: $list-border;

    &:last-child {
      border-bottom: $list-border;
    }
  }

  a {
    display: block;
    padding: component-size($component-sm) 0;
    text-decoration: none;

    &:hover {
      background-color: $yellow;
    }
  }
}
