
{{ section:header }}
<header class="page-header">
  <div class="flex flex--align-baseline">
    <span class="label">A Song Called:</span>
  </div>
  <h1 class="page-header__title font--titling-gothic case--upper">
    {{ title }}
    {{ user:can permission="cp:access" }}
      <a class="edit-link" href="{{ edit_url }}">Edit</a>
    {{ /user:can }}
  </h1>
</header>
{{ /section:header }}

<h3>Appears on</h3>
<section class="grid album-grid">
{{ collection from="albums|episodes" }}
  {{ tracklist }}
    {{ if song == page:id }}
      <a class="album-grid__item" href="{{ url }}">
        <div><img class="cover-art" src="{{ glide:cover_art width='300' height='300' }}" alt="{{ title }}" /></div>
        {{ title }}
      </a>
    {{ /if }}
  {{ /tracklist }}
{{ /collection }}
</section>

  <section class="sidebar__section">
    <h3>Wikis</h3>
    {{ if wikis }}
      <ul class="sidebar__list">
        {{ relate:wikis }}
          <li>
            <a href="{{ url }}">{{ title }}</a>
          </li>
        {{ /relate:wikis }}
      </ul>
    {{ else }}
      Nothing to see here
    {{ /if }}
  </section>
