song
<h1>{{ title }}</h1>

<h3>Albums</h3>
<ul>
  {{ collection:albums scope="album" }}
    {{ tracklist }}
      {{ if song == page:id }}
        <li>
          <a href="{{ url }}">{{ title }}</a> •
          <a href="{{ soundcloud_url }}">Play</a>
        </li>
      {{ /if }}
    {{ /tracklist }}
  {{ /collection:albums }}
</ul>

<h3>Episodes</h3>
<ul
  {{ collection:episodes scope="episode" }}
    {{ tracklist }}
      {{ if song == page:id }}
        <li>
          <a href="{{ url }}">{{ title }}</a> •
          <a href="{{ soundcloud_url }}">Play</a>
        </li>
      {{ /if }}
    {{ /tracklist }}
  {{ /collection:episodes }}
</ul>

Note: It would be nice to create an array of these so we can check if it exists or not first.
