// ============================================================================
// Album Index
// ============================================================================

$hover-offset: $unit;

.album-grid {
  display: grid;
  grid-column-gap: $spacer;
  grid-template-columns: repeat(auto-fill, minmax(240px, 2fr));
}

.album-grid__item {
  background-color: $paper;
  border-top: $border-dotted;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.album-grid__title {
  font-size: $font-size-sm;
  font-weight: normal;
  margin: 0 0 $spacer-sm;
}

.album-grid__date {
  display: block;
  font-family: $font-operator-mono;
  font-size: $font-size-xs;
  opacity: 0.5;
}

.album-grid__image {
  margin: 0;
  max-width: $spacer * 5;
}

// Small Screens
// ----------------------------------------------------------------------------

@media (max-width: 512px) {
  .album-grid__item {
    align-items: center;
    flex-direction: row;
  }

  .album-grid__title {
    order: 2;
    flex: 1;
    margin: 0 0 0 $spacer;
  }
}
