{{ if tags | contains:People }}
  {{ section:body_class }}body--wiki-people{{ /section:body_class }}
{{ /if }}

{{ section:header }}
  <header class="main__header">
    {{ partial:wiki-search }}
    {{ partial:breadcrumbs include_home="false" }}
  </header>
{{ /section:header }}

<div class="wiki-article bg--notebook bg--seashell">
  <h1 class="m-top-0">{{ title }}</h1>

  {{ if featured_image }}
    <img class="wiki-entry__featured-image" src="{{ glide:featured_image width='300' height='300' }}" alt="{{ title }}" />
  {{ /if }}

  {{ article }}
    {{ if type == "text" }}
      <div class="text">
        {{ text }}
      </div>
    {{ elseif type == "image" }}
      <img src="{{ image }}" alt="" >
    {{ /if }}
  {{ /article }}
</div>

{{ section:sidebar }}
  <aside class="main__sidebar">
    {{ user:can permission="cp:access" }}
      <a class="button" href="{{ edit_url }}">Edit This Thing</a>
    {{ /user:can }}
    <h3>File Under</h3>
    <div class="wiki-tags">
      {{ tags }}
        <a class="wiki-tags__item" href="{{ url }}">{{ title }}</a>
      {{ /tags }}
    </div>

    <h3>Referenced in</h3>

    <h3>Episodes</h3>
    <ul>
    {{ collection:episodes scope="episode" }}
      {{ episode:tracklist scope="track" }}
        {{ relate:track:wikis scope="wiki" }}
          {{ if wiki:id == page:id }}
            <li>
              <img src="{{ glide:episode:cover_art width='80' height='80' }}" alt="{{ episode:title }}" />
              <a href="{{ episode:url }}">{{ episode:title }}</a>: {{ track:description }}•
              <a href="{{ track:soundcloud_url }}">Play</a>
            </li>
          {{ /if }}
        {{ /relate:track:wikis }}
      {{ /episode:tracklist }}
    {{ /collection:episodes }}
    </ul>

    {{ collection:songs wikis:contains=page:id as="songs" }}
      {{ if songs }}
        <h3>Songs</h3>
        <ul>
        {{ songs scope="song" }}
          <li><a href="{{ song:url }}">{{ song:title }}</a></li>
        {{ /songs }}
        </ul>
      {{ /if }}
    {{ /collection:songs }}

    {{ collection:videos wikis:contains=page:id as="videos" }}
      {{ if videos }}
        <h3>Videos</h3>
        <ul>
        {{ videos scope="video" }}
          <li><a href="{{ video:url }}">{{ video:title }}</a></li>
        {{ /videos }}
        </ul>
      {{ /if }}
    {{ /collection:videos }}

    {{ collection:wiki wikis:contains=page:id as="articles" }}
      {{ if articles }}
        <h3>Wiki Cross-references</h3>
        <ul>
          {{ articles scope="article" }}
            <li><a href="{{ article:url }}">{{ article:title }}</a></li>
          {{ /articles }}
        </ul>
      {{ /if }}
    {{ /collection:wiki }}
  </aside>
{{ /section:sidebar }}
