{{ section:header }}
<header class="page-header">
  <h1 class="page-header__title font--klang tracking--loose case--upper weight--normal">Wiki</h1>
  {{ partial:search-form scope="wiki" }}
  <p class="text--lg m-top-base">
    The Grand Library of all things Akabius. Learn about, for instance,
    {{ collection:wiki article:exists="true" limit="3" sort="random" scope="rando" }}
      {{ if last }}and {{ /if }}
      <a href="{{ rando:url }}">{{ rando:title }}</a>{{ if ! last }},{{ /if }}{{ if last }}.{{ /if }}
    {{ /collection:wiki }}
  </p>
</header>
{{ /section:header }}

<section class="grid grid--gap wiki-tags rando-bg-hover">
{{ taxonomy:tags sort="title" }}
  {{ if ! parent_tag }}
  <a class="wiki-tags__item" href="{{ url }}">{{ title }}</a>
  {{ /if }}
{{ /taxonomy:tags }}
</section>

{{ user:can permission="cp:access" }}
<h3>Empty articles</h3>
<section class="grid grid--gap wiki-articles">
  {{ collection:wiki article:doesnt_exist="true" }}
  <a class="wiki-articles__item wiki-articles__item--empty" href="{{ url }}">{{ title }}</a>
  {{ /collection:wiki }}
</section>
{{ /user:can }}
