
{{ section:header }}
<header class="page-header">
  <h1 class="page-header__title font--windsor">Look For</h1>
  {{ partial:search-form }}
</header>
{{ /section:header }}

{{ search:results collection="wiki" }}
  {{ if no_results }}
    No results.
  {{ /if }}
  {{ if first }}
    <p class="text--sm">Results: {{ total_results }}</p>
    <div class="table">
  {{ /if }}
  <a class="table__row table__link" href="{{ url }}">
    <span class="table__cell table__cell--collapse table__cell--shaded text--sm">{{ collection }}</span>
    <span class="table__cell">{{ title }}</span>
  </a>
  {{ if last }}
    </div>
  {{ /if }}
{{ /search:results }}
