<header>
  <h1>Tag: {{ title }}</h1>
  <h2>{{ content }}</h2>
</header>

<style>
  .grid-thing {
    list-style: none;
    margin: 0;
    padding:  0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
    grid-gap: 1rem;
  }

  .grid-thing a {
    background-color: white;
    border-radius:  4px;
    padding:  1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-thing a:hover {
    background-color: yellow;
  }

  .grid-thing img {
    margin-bottom: 1rem;
  }

</style>

<div class="grid-thing">
  {{ collection:wiki article:exists="true" images:exists="true" taxonomy="true" paginate="true" as="wikis" }}
    {{ if no_results }}
      <p>No "{{ title }}" wikis.</p>
    {{ /if }}
    {{ wikis }}
      <a href="{{ url }}">
        <img src="{{ images }}" style="max-width: 6rem;">
        <span>{{ title }}</span>
      </a>
    {{ /wikis }}
  {{ /collection:wiki }}
</div>
<ol>
  {{ collection:wiki article:exists="true" images:doesnt_exist="true" taxonomy="true" paginate="true" as="wikis" }}
    {{ if no_results }}
      <p>No "{{ title }}" wikis.</p>
    {{ /if }}
    {{ wikis scope="tag" }}
      <li>
        <a href="{{ url }}">{{ title }}</a>
        <mark>Image</mark>
      </li>
    {{ /wikis }}
  {{ /collection:wiki }}
</ol>

</section>
