{{ partial:breadcrumbs include_home="true" }}

<ul class="church-directory">
  {{ collection:wiki article:exists="true" featured_image:exists="true" taxonomy="true" paginate="true" as="wikis" }}
    {{ wikis scope="wiki" }}
      <li class="church-directory__item">
        <a class="church-directory__link" href="{{ wiki:url }}">
          <img
            class="church-directory__image"
            src="{{ glide:wiki:featured_image width='200' height='200' }}"
            alt="{{ title }}"
          >
          <span class="church-directory__title">{{ wiki:title }}</span>
        </a>
      </li>
    {{ /wikis }}
  {{ /collection:wiki }}
</ul>
<ol>
  {{ collection:wiki article:exists="true" featured_image:doesnt_exist="true" taxonomy="true" paginate="true" as="wikis" }}
    {{ if no_results }}
      <p>No "{{ title }}" wikis.</p>
    {{ /if }}
    {{ wikis scope="tag" }}
      <li>
        <a href="{{ url }}">{{ title }}</a>
        <mark>Image</mark>
      </li>
    {{ /wikis }}
  {{ /collection:wiki }}
</ol>

</section>
