{{ section:header }}
<header class="main__header">
  {{ partial:wiki-search }}
</header>
{{ /section:header }}

<h1>
  {{ if parent_tag }}
    {{ relate:parent_tag }}
      {{ title }} ›
    {{ /relate:parent_tag }}
  {{ /if }}
  {{ title }}
</h1>

{{ if slug == "people" or parent_tag == 'tags/people' }}
<div class="wiki-grid wiki-people">
{{ collection:wiki taxonomy="true" paginate="true" as="wikis" }}
  {{ wikis scope="wiki" }}
    <a class="wiki-people__item" href="{{ wiki:url }}">
      {{ if featured_image }}
        <img
          class="wiki-people__image"
          src="{{ glide:wiki:featured_image width='200' height='200' }}"
          alt="{{ title }}"
        >
      {{ else }}
        <div class="wiki-people__empty">No Image on File</div>
      {{ /if }}
      <span class="wiki-people__title">{{ wiki:title }}</span>
    </a>
  {{ /wikis }}
{{ /collection:wiki }}
</div>
{{ else }}
<div class="wiki-grid wiki-articles">
{{ collection:wiki taxonomy="true" paginate="true" as="wikis" }}
  {{ wikis scope="wiki" }}
    <a class="wiki-articles__item" href="{{ wiki:url }}">
      <span class="wiki-articles__title">{{ wiki:title }}</span>
    </a>
  {{ /wikis }}
{{ /collection:wiki }}
</div>
{{ /if }}
