<h1>{{ title }}</h1>

<h2>Content</h2>
{{ content | wikilinks | markdown }}

<h3>Images</h3>
{{ images }}
  <img src="{{ glide:value width='300' height='300' }}" alt="{{ title }}" />
{{ /images }}

<hr>
<h2>Wiki Tags</h2>
{{ tags }}
  <li><a href="{{ url }}">{{ title }}</a></li>
{{ /tags }}
<hr>

<h2>Referenced in</h2>

<h3>Episodes</h3>
<ul>
  {{ collection:episodes wikis:contains=page:id scope="episode" }}
    <li><a href="{{ episode:url }}"><mark>{{ episode:title }}</mark></a></li>
  {{ /collection:episodes }}
</ul>

<h3>Songs</h3>
<ul>
  {{ collection:songs wikis:contains=page:id scope="song" }}
    <li><a href="{{ song:url }}"><mark>{{ song:title }}</mark></a></li>
  {{ /collection:songs }}
</ul>

<h3>Videos</h3>
<ul>
  {{ collection:videos wikis:contains=page:id scope="video" }}
    <li><a href="{{ video:url }}"><mark>{{ video:title }}</mark></a></li>
  {{ /collection:videos }}
</ul>
