<section class="collection">
  <header class="collection__header page-header">
    <div class="flex">
      <span class="label">Title:</span>
    </div>
    <h1 class="page-header__title b-bottom-dotted {{ header_class }}">
      {{ title }}
      {{ user:can permission="cp:access" }}
        <a class="edit-link" href="{{ edit_url }}">Edit</a>
      {{ /user:can }}
    </h1>
  </header>

  <div class="collection__content">
    <span class="label">Listening Device:</span>
    {{ partial:player class="m-bottom-vmin" }}

    <span class="label">{{ tracklist_label }}:</span>
    <ol class="tracklist table text--sm" data-player="tracklist">
      <li class="table__row">
        <span class="table__cell table__cell--header align--center">#</span>
        <span class="table__cell table__cell--header label">Descriptor</span>
        <span class="table__cell table__cell--header label">Time</span>
      </li>

      {{ if collection == "episodes" }}
      <li class="tracklist__item table__row" data-track="{{ audio_file }}" data-state="init">
        <span class="tracklist__count table__cell">
          0
          <button class="tracklist__button tracklist__button--play button-reset" data-track-button="play">
            {{ site:sprite id="play" width="32" height="24" }}
          </button>
          <button class="tracklist__button tracklist__button--pause button-reset" data-track-button="pause">
            {{ site:sprite id="pause" width="32" height="24" }}
          </button>
        </span>
        <span class="tracklist__title table__cell" data-track-title>Full Episode</span>
        <span class="text--xs table__cell table__cell--shaded table__cell--collapse">&mdash;</span>
      </li>
      {{ /if }}

      {{ tracklist scope="track" }}
      <li class="tracklist__item table__row" {{ if track:audio_file }}data-track="{{ track:audio_file }}" data-state="init"{{ /if }}>
        <span class="tracklist__count table__cell">
          {{ index }}
          {{ if track:audio_file }}
            <button class="tracklist__button tracklist__button--play button-reset" data-track-button="play">
              {{ site:sprite id="play" width="32" height="24" }}
            </button>
            <button class="tracklist__button tracklist__button--pause button-reset" data-track-button="pause">
              {{ site:sprite id="pause" width="32" height="24" }}
            </button>
          {{ /if }}
        </span>
        <span class="tracklist__title table__cell">
          {{ if track:song }}
            {{ relate:track:song scope="song" }}
              <a class="tracklist__title" href="{{ song:url }}" data-track-title>
                {{ if collection == "episodes" }}♫{{ /if }}
                {{ song:title }}
              </a>
            {{ /relate:track:song }}
          {{ else }}
            {{ track:segment | wikilinks }}
          {{ /if }}
        </span>
        <span class="text--xs table__cell table__cell--shaded table__cell--collapse">&mdash;</span>
      </li>
      {{ /tracklist }}
    </ol>
  </div>

  <figure class="collection__cover-art">
    <span class="label">Visual:</span>
    <img class="cover-art" src="{{ cover_art }}" />
  </figure>

  <div class="collection__meta text--sm">
    <div class="m-top-vmin-sm">
      <div class="label">Date of Publishment:</div>
      <div class="b-bottom-dotted text--xs"><time datetime="{{ release_date format='r' }}">{{ release_date format="r" }}</time></div>
    </div>
    {{ if collection == "episodes" }}
      {{ if album }}
        <div class="m-top-vmin-sm">
          <div class="label">Companion Album</div>
          {{ relate:album }}
          <a class="collection__cover-art--sm cover-art cover-art--photocopy" href="{{ url }}">
            <img src="{{ cover_art }}" />
          </a>
          {{ /relate:album }}
        </div>
      {{ /if }}
    {{ /if }}
    <div class="m-top-vmin-sm">
      <div class="label">External SRC:</div>
      <a href="{{ audio_file }}" target="_blank">{{ site:sprite id="download" width="32" height="32" class="size--base" }}</a>
      {{ if spotify_url }}
        <a href="{{ spotify_url }}" target="_blank">{{ site:sprite id="spotify" width="32" height="32" class="size--base" }}</a>
      {{ /if }}
    </div>
  </div>
</section>
