<div class="player player--disabled" data-player>
  <div class="player__spinner spinner spinner--wave" data-player="spinner"></div>
  <div class="player__title" data-player="title" aria-hidden="true">Title</div>
  <button class="player__button player__button--play" data-player="play">Play</button>
  <button class="player__button player__button--pause" data-player="pause">Pause</button>
  <button class="player__button player__button--prev" data-player="prev">Prev</button>
  <button class="player__button player__button--next" data-player="next">Next</button>
  <div class="player__progress" data-player="seek">
    <div class="player__progress-bar" data-player="progress"></div>
  </div>
  <span class="player__time player__time--current" data-player="current-time">0:00</span>
  <span class="player__time player__time--total" data-player="total-time" aria-hidden="true">0:00</span>
</div>
