<div class="player player--loading player--disabled b-base br-base {{ class }}" data-player="stereo">
  <div class="player__control">
    <button class="player__play player__button button-reset" data-player="play" aria-label="play">
      {{ site:sprite id="play" width="32" height="24" }}
    </button>
    <button class="player__pause player__button button-reset" data-player="pause" aria-label="pause">
      {{ site:sprite id="pause" width="32" height="24" }}
    </button>
    <div class="player__loader loader" data-player="loader"></div>
  </div>
  <div class="player__content">
    <div class="player__row">
      <div class="player__title" data-player="title">[Title]</div>
      <time class="player__timer player__time" data-player="timer">0:00</time>
      <time class="player__duration player__time" data-player="duration">0:00</time>
    </div>
    <div class="player__row">
      <div class="player__progress" data-player="progress">
        <div class="player__progress-bar" data-player="progressBar"></div>
      </div>
      <button class="player__prev player__skip player__button button-reset" data-player="prev" aria-label="Previous Track">
        {{ site:sprite id="prev" width="64" height="24" }}
      </button>
      <button class="player__next player__skip player__button button-reset" data-player="next" aria-label="Next Track">
        {{ site:sprite id="next" width="64" height="24" }}
      </button>
      <button class="player__slow player__button button-reset" data-player="slow" aria-label="Half Speed" title="Slow">
        <div class="player__slow-switch"></div>
      </button>
    </div>
  </div>
</div>
