<div class="subscribe">
  <a class="subscribe__link flex" href="{{ feed_url }}" target="_blank" title="RSS Feed">
    <div class="p-right-base">
      <div class="text--sm weight--bold case--upper tracking--loosest">Subscribe</div>
      <div class="text--xs case--upper trackling--loose o-75">to the Podcast</div>
    </div>
    {{ site:sprite id="rss" height="16" width="16" class="subscribe__icon" }}
  </a>
  {{ podcast_urls }}
    {{ if url }}
    <a class="subscribe__link" href="{{ url }}" title="{{ name }}" target="_blank">
      {{ site:sprite id=icon height="16" width="16" class="subscribe__icon" }}
    </a>
    {{ /if }}
  {{ /podcast_urls }}
</div>

